{% extends "layouts/layout.html" %}

{% block content %}
<div class="w-full">
    <div class="px-8 py-8 max-w-6xl mx-auto">
        <section class="flex flex-col items-center justify-center space-y-12">
            <div class="text-center">
                <h1 class="text-4xl font-extrabold text-white md:text-6xl">Generator a randomly <br/>
                    <span>password</span>
                </h1>
            </div>
            <div class="text-green-200 text-center max-w-4xl">
                <p class="text-lg font-bold md:text-2xl">
                    Website created to create your new and personalized passwords for everyone your social networks
                </p>
            </div>
            <div>
                <a href="{% url 'generate' %}" class="px-12 py-4 font-medium rounded-xl bg-blue-600 text-white">
                    Get started
                </a>
            </div>
        </section>
    </div>
</div>

{% endblock %}